<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Polarust – Voyages</title>
  <link rel="stylesheet" href="style.css">
  <style>
  </style>
</head>
<body>
  <header>
    <div>
      <h1>🌍 Tous les voyages</h1>
    </div>
  </header>

  <div class="trips-grid">
    {% for trip in trips %}
    <a class="trip-card" href="{{ trip.slug }}/index.html">
      {% if trip.cover_photo_path %}
      <img src="{{ trip.slug }}/cover.jpg" alt="cover">
      {% else %}
      <div class="trip-card-no-cover">🌍</div>
      {% endif %}
      <div class="trip-card-body">
        <h2>{{ trip.name }}</h2>
        <div class="trip-meta">
          {% if trip.start_date %}{{ trip.start_date | format_date }}{% endif %} ·
          {% if trip.end_date %}{{ trip.end_date | format_date }}{% endif %}
          <br />
          {{ trip.all_steps | length }} étapes
          <br />
        </div>
        {% if trip.summary %}
        <p class="trip-summary">{{ trip.summary }}</p>
        {% endif %}
      </div>
    </a>
    {% endfor %}
  </div>
</body>
</html>
